<h2 class="admin-panel">Панель адміністратора</h2>

<div class="admin-panel">
  <p><%= link_to "Ролі користувачів", roles_path %></p>
  <p><%= link_to "Структура ЗВО", units_path %></p>
  <p><%= link_to "Академгрупи", groups_path %></p>
  <p><%= link_to "Здобувачі освіти", students_path %></p>
  <p><%= link_to "Особовий склад академгруп", student_distributions_path %></p>
  <p><%= link_to "Персонал ЗВО", people_path %></p>
  <p><%= link_to "Особовий склад НПП кафедр", teacher_distributions_path %></p>
  <p><%= link_to "Пари для опитування", student_teachers_path %></p>
  <p><%= link_to "Критерії для оцінювання НПП", criteria_path %></p>
</div>
