<h2>Будь ласка, оцініть роботу викладачів і натисніть "Підтвердити" внизу</h2>
<h4>Ваші оцінки будуть оброблені <span id="anon-processing">анонімно</span> і недоступні іншим особам.</h4>

<%= form_with url: '/surveys', model: @student_distribution do |student_form| %>
  <% @student_distribution.student_teachers.each do |teacher| %>
    <p class="teacher-for-student">
      <% "(#{teacher.teacher_distribution.id})" %>
      <%= "#{teacher.teacher_distribution.person.full_name}, #{teacher.teacher_distribution.unit.name.downcase}" %>
    </p>
    <details><summary>Критерії оцінювання та оцінки</summary>
    <% teacher.surveys.order(:criterium_id).each do |survey_item| %>
      <p class="survey-criterium">
        <% "(#{survey_item.id})" %>
        <% points = survey_item.criterium.scale.split('/').map{ |s| [s[/[ ҐґІіЇїа-я]+/i].strip, s[/-?\d+/]] } %>
        <%= survey_item.criterium.name %>&nbsp;&mdash;
        <%= student_form.fields_for survey_item, index: survey_item.id do |survey_item_form| %>
          <%= survey_item_form.select :rating, points %>
        <% end %>
      </p>
    <% end %>
    </details>
  <% end %>
  <h3><%= student_form.submit "Підтвердити" %></h3>
<% end %>