<div id="<%= dom_id person %>">
  <p>
    <strong>Прізвище, ім'я та по батькові (за наявності):</strong>
    <%= person.full_name %>
  </p>

  <p>
    <strong>Корпоративний email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>ORCID:</strong>
    <%= person.orcid %>
  </p>

  <p>
    <strong>Scopus AuthorID:</strong>
    <%= person.scopus_authorid %>
  </p>

  <p>
    <strong>Web of Science ResearcherID:</strong>
    <%= person.wos_researcherid %>
  </p>

</div>
