<%= form_with(model: student_teacher) do |form| %>
  <% if student_teacher.errors.any? %>
    <div style="color: red">
      <h2>Помилки, які перешкоджають збереженню даних:</h2>
      <ul>
        <% student_teacher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Студент/студентка:", style: "display: block" %>
    <%= form.select :student_distribution_id, student_distributions_for_select, required: true %>
  </div>

  <div>
    <%= form.label "Викладач/викладачка:", style: "display: block" %>
    <%= form.select :teacher_distribution_id, teacher_distributions_for_select, required: true %>
  </div>

  <div>
    <%= form.submit "Зберегти" %>
  </div>
<% end %>
