<h1>Імпорт даних про пари "студент-викладач" із текстового файлу</h1>

<%= form_with do |f| %>
  <%= f.label "Виберіть текстовий файл для імпорту:" %>
  <%= f.file_field :txt_file %>
  <%= f.submit "Імпортувати файл" %>
<% end %>
<br>

<%= link_to 'Назад до переліку пар', student_teachers_path %>