<div id="<%= dom_id student_distribution %>">
  <p>
    <strong>Студент/студентка:</strong>
    <%= student_distribution.student.full_name %>
  </p>

  <p>
    <strong>Академгрупа:</strong>
    <%= student_distribution.group.group %>
  </p>

  <p>
    <strong>Код навчання в ЄДЕБО:</strong>
    <%= student_distribution.edebo_study_code %>
  </p>

  <p>
    <strong>Корпоративний email:</strong>
    <%= student_distribution.email %>
  </p>

</div>
